In [1]:
import requests
import re
import csv
from bs4 import BeautifulSoup

In [2]:
csv_file=open('Internshala_csv','w')
csv_writer=csv.writer(csv_file)

In [3]:
csv_writer.writerow(['job_title','company_name','location','start_date'              
                     ,'duration','stipend','last_date','parttime_allowed'])

88

In [4]:
source=requests.get('https://internshala.com/internships/work-from-home-data%20science-jobs').text

In [5]:
soup=BeautifulSoup(source,'lxml')

In [48]:
#print(soup.prettify())

In [49]:
div=soup.find('div',id="internship_list_container_1")
#print(div.prettify())

In [8]:
job_posting=div.find_all('div',class_='container-fluid individual_internship' or 
               'container-fluid individual_internship visibilityTrackerItem')

In [9]:
len(job_posting)

33

In [10]:
y=len(job_posting[0].find_all('a')) #number of a tags in individual job posting
y

4

In [11]:
for i in range(len(job_posting)):
        a_tags=job_posting[i].find_all('a')
        job_title=a_tags[0].text
        job_title=re.sub('^\s$\s','',job_title)
        print(job_title)
        
        company_name=a_tags[1].text
        company_name=re.sub('^\s$\s','',company_name)
        print(company_name)
        
        location=a_tags[2].text
        location=re.sub('^\s$\s','',location)
        print(location)
        
        span_tag=job_posting[i].find_all('span',class_="start_immediately_desktop")
        start_date=span_tag[0].text
        start_date=re.sub('^\s$\s','',start_date)
        
        print(start_date)
        div=job_posting[i].find_all('div',class_='item_body')
        duration=div[1].text
        duration=re.sub('^\s$\s','',duration)
        print(duration)
        
        st_div= job_posting[0].find('span',class_='stipend') 
        stipend=st_div.text
        stipend=re.sub('^\s$\s','',stipend)
        print(stipend)
        
        last_date_container=job_posting[i].find_all('div',class_="item_body")[3]  
        last_date=last_date_container.text
        last_date=re.sub('^\s$\s','',last_date)
        print(last_date)
        
        try:
            if job_posting[i].find_all('div',class_="item_body")[4]:
                    part_time_allowed='yes'
        except Exception as e:
            part_time_allowed='No'
        print(part_time_allowed)  
        csv_writer.writerow([job_title,company_name,location,start_date
                    ,duration,stipend,last_date,part_time_allowed])

Technical Management (OCR) Based On Machine Learning And Software Development

                        IIT Bombay
Work From Home
Immediately

                            6 Months
 1000-2000 /month
17 Sep' 21
No
Data Engineering

                        Mactores
Work From Home
Immediately

                            3 Months
 1000-2000 /month
28 Sep' 21
No
AWS DevOps Engineering

                        Mactores
Work From Home
Immediately

                            3 Months
 1000-2000 /month
28 Sep' 21
No
Data Science (Artificial Intelligence)

                        Emvoke Technologies Private Limited
Work From Home
Immediately

                            3 Months
 1000-2000 /month
28 Sep' 21
yes
Data Science & Machine Learning

                        INSAID
Work From Home
Immediately

                            6 Months
 1000-2000 /month
28 Sep' 21
No
Data Science

                        Prakriti Textiles
Work From Home
Immediately

                            2 Months
 1000-2000 /month
28 Sep' 21
yes
Data Analytics

                        Prakriti Textiles
Work From Home
Immediately

                            2 Months
 1000-2000 /month
28 Sep' 21
yes
Data Analytics

                        EmaChat
Work From Home
Immediately

                            1 Month
 1000-2000 /month
28 Sep' 21
yes
QA Analysts

                        NEHANET Corporation
Work From Home
Immediately

                            6 Months
 1000-2000 /month
27 Sep' 21
No
Business Analytics

                        Quadiro Technologies LLP
Work From Home
Immediately

                            1 Month
 1000-2000 /month
27 Sep' 21
No
Applied Mathematics

                        Episodiclabs Private Limited (Teckniklab)
Work From Home
Immediately

                            3 Months
 1000-2000 /month
27 Sep' 21
No
Data Analytics

                        Nuvoretail
Work From Home
Immediately

                            3 Months
 1000-2000 /month
27 Sep' 21
No
Machine Learning

                        Robocom International
Work From Home
Immediately

                            2 Months
 1000-2000 /month
30 Sep' 21
yes
Data Engineering

                        Digite Incorporated
Work From Home
Immediately

                            3 Months
 1000-2000 /month
27 Sep' 21
No
Machine Learning

                        Sprinklr Private Limited
Work From Home
Immediately

                            6 Months
 1000-2000 /month
27 Sep' 21
No
Data Engineering

                        Algo Engines Private Limited
Work From Home
Immediately

                            6 Months
 1000-2000 /month
27 Sep' 21
No
Content Research

                        TheRightDoctors
Work From Home
Immediately

                            6 Months
 1000-2000 /month
27 Sep' 21
No
Machine Learning

                        ThinkClock Innovation Labs
Work From Home
Immediately

                            2 Months
 1000-2000 /month
27 Sep' 21
No
DevOps Engineering

                        Helping Hand
Work From Home
Immediately

                            3 Months
 1000-2000 /month
26 Sep' 21
yes
Data Annotation

                        Terra Economics Analysis Lab
Work From Home
Immediately

                            1 Month
 1000-2000 /month
26 Sep' 21
yes
Quantitative Research

                        AR Quants
Work From Home
Immediately

                            6 Months
 1000-2000 /month
26 Sep' 21
No
Machine Learning

                        Lokavidya Technologies Private Limited
Work From Home
Immediately

                            6 Months
 1000-2000 /month
25 Sep' 21
No
Innovation: Data Science & Programming

                        JMAAA Infotech Private Limited
Work From Home
Immediately

                            6 Months
 1000-2000 /month
25 Sep' 21
yes
Data Science

                        Blackcoffer
Work From Home
Immediately

                            6 Months
 1000-2000 /month
25 Sep' 21
No
Data Science

                        Neubrain Solutions Private Limited
Work From Home
Immediately

                            3 Months
 1000-2000 /month
25 Sep' 21
yes
Business Analytics

                        Edhub Alpha Private Limited
Work From Home
Immediately

                            2 Months
 1000-2000 /month
25 Sep' 21
yes
Investment Banking

                        SilverMile Capital
Work From Home
Immediately

                            3 Months
 1000-2000 /month
25 Sep' 21
yes
Machine Learning

                        CogniAble
Work From Home
Immediately

                            6 Months
 1000-2000 /month
25 Sep' 21
No
Artificial Intelligence (AI)/ML

                        AI Bharata
Work From Home
Immediately

                            3 Months
 1000-2000 /month
24 Sep' 21
No
Data Science

                        Society For Health And Medical Technology
Work From Home
Immediately

                            6 Months
 1000-2000 /month
24 Sep' 21
yes
Artificial Neural Networks

                        Olcademy
Work From Home
Immediately

                            3 Months
 1000-2000 /month
24 Sep' 21
yes
Data Analytics

                        Heart It Out
Work From Home
Immediately

                            3 Months
 1000-2000 /month
24 Sep' 21
yes
Data Science (Technical Writing)

                        EntHire
Work From Home
Immediately

                            3 Months
 1000-2000 /month
24 Sep' 21
yes

In [12]:
csv_file.close()

In [13]:
import pandas as pd
df=pd.read_csv("internshala_csv")
df.head()

,job_title,company_name,location,start_date,duration,stipend,last_date,parttime_allowed
0,Technical Management (OCR) Based On Machine Le...,\r\n IIT Bombay ...,Work From Home,Immediately,\r\n 6 Months ...,1000-2000 /month,17 Sep' 21,No
1,Data Engineering,\r\n Mactores ...,Work From Home,Immediately,\r\n 3 Months ...,1000-2000 /month,28 Sep' 21,No
2,AWS DevOps Engineering,\r\n Mactores ...,Work From Home,Immediately,\r\n 3 Months ...,1000-2000 /month,28 Sep' 21,No
3,Data Science (Artificial Intelligence),\r\n Emvoke Technologie...,Work From Home,Immediately,\r\n 3 Months ...,1000-2000 /month,28 Sep' 21,yes
4,Data Science & Machine Learning,\r\n INSAID ...,Work From Home,Immediately,\r\n 6 Months ...,1000-2000 /month,28 Sep' 21,No

In [44]:
a=df['company_name']
b=df['duration']

In [45]:
for i in range(len(a)):
    a[i]=re.sub('\r\n','',a[i])
    b[i]=re.sub('\r\n','',b[i])

In [46]:
df.head()

,job_title,company_name,location,start_date,duration,stipend,last_date,parttime_allowed
0,Technical Management (OCR) Based On Machine Le...,IIT Bombay ...,Work From Home,Immediately,6 Months ...,1000-2000 /month,17 Sep' 21,No
1,Data Engineering,Mactores ...,Work From Home,Immediately,3 Months ...,1000-2000 /month,28 Sep' 21,No
2,AWS DevOps Engineering,Mactores ...,Work From Home,Immediately,3 Months ...,1000-2000 /month,28 Sep' 21,No
3,Data Science (Artificial Intelligence),Emvoke Technologies Pr...,Work From Home,Immediately,3 Months ...,1000-2000 /month,28 Sep' 21,yes
4,Data Science & Machine Learning,INSAID ...,Work From Home,Immediately,6 Months ...,1000-2000 /month,28 Sep' 21,No